src/xmlns/action/content.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../path.xsd"/>
  <xs:include schemaLocation="../string.xsd"/>

  <xs:element name="content_add">
    <xs:complexType>
      <xs:all>
        <xs:element name="path" type="path"/>
        <xs:element name="value" type="string"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="content_set">
    <xs:complexType>
      <xs:all>
        <xs:element name="path" type="path"/>
        <xs:element name="value" type="string"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="content_clear" type="path"/>
</xs:schema>