src/xmlns/action/directory.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../path.xsd"/>

  <xs:element name="directory_copy">
    <xs:complexType>
      <xs:all>
        <xs:element name="from" type="path"/>
        <xs:element name="to" type="path"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="directory_new" type="path"/>
  <xs:element name="directory_remove" type="path"/>
</xs:schema>