src/xmlns/action/file.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../path.xsd"/>
  <xs:include schemaLocation="../string.xsd"/>

  <xs:element name="file_copy">
    <xs:complexType>
      <xs:all>
        <xs:element name="from" type="path"/>
        <xs:element name="to" type="path"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="file_new">
    <xs:complexType>
      <xs:all>
        <xs:element name="path" type="path"/>
        <xs:element name="content" type="string" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="file_remove" type="path"/>
</xs:schema>