src/xmlns/action/location.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../path.xsd"/>
  <xs:include schemaLocation="../action.xsd"/>

  <xs:element name="location_change">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="path" minOccurs="0"/>
        <xs:choice>
          <xs:element ref="action_array"/>
          <xs:group ref="action"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="location_pop"/>
  <xs:element name="location_push" type="path"/>
  <xs:element name="location_set" type="path"/>
</xs:schema>