src/xmlns/parameter.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:namespace="http://www.ato.net/xmlns/namespace">

  <xs:element name="parameter" type="type"/>
  <xs:complexType name="type">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="namespace" type="namespace:wildcard-type-name"/>
  </xs:complexType>
</xs:schema>