src/xmlns/parameter.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="namespace.xsd"/>

  <xs:complexType name="parameter_type">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="namespace" type="namespace_wildcard-type-name"/>
  </xs:complexType>
</xs:schema>